*{
    margin: 0px;
    padding: 0px;
}
#tudo{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    justify-self: center;
    text-align: center;
}
#c1{
   background-color: rgb(0, 128, 0, 100%);
   align-content: center;
   width: 150px;
   height: 100px;
   display: block; 
   opacity: 100%;
}
#c2{
   background-color: rgb(0, 128, 0, 60%);
   align-content: center;
   width: 150px;
   display: block; 
}
#c3{
   background-color: rgb(0, 128, 0, 30%);
   align-content: center;
   width: 150px;
   display: block; 
}
#c4{
   background-color: rgb(0, 128, 0, 10%);
   align-content: center;
   width: 150px;
   display: block; 
}